# MongoDB
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/event_management

# JWT
JWT_ACCESS_SECRET=replace_me_with_strong_random_string
JWT_REFRESH_SECRET=replace_me_with_another_strong_random_string

# App
PORT=4000
NODE_ENV=development


# Storage
S3_ENDPOINT=
S3_KEY=
S3_SECRET=
S3_BUCKET=

# Email
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=